body{
  font-family: Verdana, sans-serif;
  font-size:75%;
  font-weight: normal;
  overflow:none;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a, a:visited {text-decoration:none;}

ul {display:inline-block;list-style:none;padding:0;}

.index{width:15%;display:inline-block;}
ul a{text-transform:uppercase;}
.index li{text-align:center;line-height:1em;}
.index li:after{content:'°';display:block;margin-top:.5em;color:#6E6E6E;opacity:.3;}


/********MENU********/
header{
  background-color: #2f516f;
  box-shadow:2px 0 10px rgba(0,0,0,.5);
  position:relative;
  z-index:2;
}

header nav ul li{
  list-style: none; 
}

header a, header form{display:inline-block;vertical-align:middle;}

header{
  box-sizing: border-box;
  width: 100%;
  height: 5em;
}

.logo{
  width: 20%;
  float: left;
  text-align: center;
  height: 6rem;
  flex: 1 1 auto;
  background-image: url('media/logo2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 94px;
}

.triangle {
  width: 0;
  height: 0;
  margin: 0 auto;
  position: relative;
}

.triangle:after {
  content: '';
  position: absolute;
  top: 40px;
  left: -100px;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 80px solid #2f516f;
  margin: 0 auto;

}

/****MENU****/

.navglobal{
  text-align: right;
}

.menu a{
  text-decoration: none;
  margin-left: 1.3rem;
  padding: 0.5rem 0 0;
  color: #f7f7f7;
  font: normal 1.3em Verdana, sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
}

.menu{
  width: 40%;
  float: left;
  height: 3rem;
  flex: 1 1 auto;
}

.navuser a{
  margin-right: 1.3rem;
  margin-left: 0;
}


/********** CONTENT ***********/
.main{
  margin-top: 100px;
  min-height:100%;
  position:relative;
}

.content_page{
  width:100%;
  clear: both;
  float: inherit;
  position: relative;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 120px;
}

h2{
  width: 100%;
  color: #2f516f;
  height: 40px;
  text-align: center;
  font-family: Verdana, sans-serif;
  padding-top: 15px;
  font-weight: normal;
  font-size: 2em;
}

.center_content{
  margin: 0 auto;
  width: 800px;
  position: relative;
}

/***HOME***/

.apropos > div{
  width: 20%;
  height: 100%;
  margin-left: 15%;
  float: left;
  margin-right: 2%;
}

.apropos > div img{
  width: 42%;
  margin-left: 34%;
}

.apropos > div h1{
  text-align: center;
  color: #2f516f;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 14px;
}

.apropos > article{
  width: 84%;
  color: #2f516f ;
}

.apropos > article h1{
  text-transform: uppercase;
  color: #2f516f;
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: normal;
}


#picto_presentation{
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 542px;
}

#picto_presentation p{
  color:#2f516f;
}

#picto_presentation > div{
  float: left;
  margin-left: 4%;
  text-align: center;
  height: auto;
}

#picto_presentation img{
  width: 50%;
}

.txtinfo{
  margin-left: 6%;
  margin-right: 5%;
  text-transform: uppercase;
}

#classement_content{
  display: block;
  margin-top: 2%;
}

.podium{
  width: 218px;
  height: 218px;
  margin-left: 15%;
  float: left;
  margin-right: 2%;
  background-image: url('media/podium.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.resultats{
  width: 84%;
  color: #2f516f ;
}

.resultats > h1{
  text-transform: uppercase;
  color: #2f516f;
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: normal;
}

.resultats table td{
  width: 70px;
  height: 20px;
  border-bottom: 1px solid #2f516f;
  padding-left: 1em; 
}

.resultats table td:first-child{
  border-right: 1px solid #2f516f;
}
.resultats table td:last-child{
  border-left: 1px solid #2f516f;
}

.resultats table tr:last-child td{
  border-bottom: none;
}

/****SLIDER*****/
#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider li, #slider2 li{ 
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
  overflow:hidden; 
    } 

#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
  display:block;
  width:30px;
  height:77px;
  position:absolute;
  left:322px;
  top:140px;
  z-index:1000;
} 

#nextBtn{
  position: absolute;
  right: 0;
  left:992px;
  width: 30px;
}

#slider1next{ 
  left:800px;
  }

#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
  display:block;
  position:relative;
  width:36px;
  height:77px;
  background:url(media/btn_prev.png) no-repeat 0 0; 
  } 

#nextBtn a, #slider1next a{ 
  background:url(media/btn_next.png) no-repeat 0 0; 
  } 


/* region-styling for overflow region */
@-webkit-region #nav-compact{
  #nav-global a{
    color: white;
  }
}


.warning{
  background: #ffc;
  color: black;
  padding: 1em;
  margin: 0 0 0 -1em;
  display: none;
}

.no-flow-into .instructions{
  display: none;
}
.no-flow-into .warning{
  display: block;
}

.error, .success{
  width:100%;
  margin:0 auto;
  font-family: Verdana, sans-serif;
  font-size:1.5em;
  text-align:center;
  color: #ab5152;
}
.success{
  color: green;
}



/********** FORM DEFIS ***********/
.content_left{
  width: 45%; 
  height: 500px;
  border-right: 2px dotted #2f516f;
  margin-left: 5%;
  margin-top: 20px;
  background-image: url('media/defi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

#form_defi{
  margin: 0 auto;
  width: 40%;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#form_defi input, select{
  width: 80%;
  height: 40px;
  margin: 4px;
  padding: 2px;
  padding-left: 5px;
  border:none;
  background-color: #d4d4d4;
}

#form_defi select{
  width: 81%;
}

#form_defi input[type="submit"]{
  height: 40px;
  margin: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  width: 81%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}

#form_defi .file label {
  background: #2f516f;
  padding: 10px 20px;
  color: #f7f7f7;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 4px;
}
#form_defi .file input {
  display: none;
  height: 40px;
}

/********** FORM SIGNIN ***********/

.content_page_log{
  margin: 0 auto;
  width: 50%;
  padding-bottom: 110px;
}
.content_page_log > h2{
  width: 100%;
  color: #2f516f;
  height: 40px;
  text-align: left;
  font-family: Verdana, sans-serif;
  padding-top: 15px;
  font-weight: normal;
  border-bottom: 4px solid;
  font-size: 2em;
}

.content_page_log form p{
  color:#2f516f;
  text-align: center;
  padding:0;
  margin:0;
  font-size: 1.1em;
}

.signin{
  width: 50%;
}

/* all */
::-webkit-input-placeholder { color:#8c8c8c; font-weight: bold; }
::-moz-placeholder { color:#8c8c8c; font-weight: bold;} /* firefox 19+ */
:-ms-input-placeholder { color:#8c8c8c; font-weight: bold;} /* ie */
input:-moz-placeholder { color:#8c8c8c; font-weight: bold;}

.signin input{
  width: 90%;
  height: 40px;
  margin: 4px;
  padding: 2px;
  padding-left: 5px;
  border:none;
  background-color: #d4d4d4;
}

.signin input[type="submit"]{
  height: 40px;
  margin: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  width: 55%;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}

.forget{ 
  width: 50%;
  background-color: #eaeaea;
    float: right;
}

.forget a{
  display: block;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
  border: none;
  padding-left: 5px;
  background-color: #2f516f;
  width: 55%;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 22px;
}

/**REPONSE DEFI**/
.list_rep{
  padding-bottom: 2em;
}

.reponse {
  width: 100%;
  margin-bottom: 10px;
  background-color: #ccc;
  padding-left: 1%;
  padding-right: 1%;
}

.reponse ul{
  width: 100%;
  padding: 0;
  margin: 2px 0 2px;
}

.reponse li{
  color: #2f516f;
  list-style: none;
  display: inline-block;
  width: 130px;
  height: auto;
  vertical-align:middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-right: 8px;
}

.reponse li:first-letter{
  text-transform : uppercase;
}

.reponse ul > li:first-child{
  text-transform: uppercase;
  text-align: left;
  width: 90px;
}

.reponse ul > li:nth-child(2){
  font-weight: bold;
}

.reponse li > a{
  display: block;
  height: 25px;
  padding-top: 10px;
  background-color: #2f516f;
  width: 60px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}


.reponse input[type="submit"]{
  height: 40px;
  margin: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  width: 72px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}

.reponse .go{
  width: 72px;
}
.reponse .question{
  width: 180px;
}


/*******REPONSE SINGLE*********/
.content_quest_type{
  float: left;
  margin-right: 1em;
  min-height: 230px;
  min-width: 384px;
}

.content_quest_type p{
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.3em;
}

.content_quest_type img{
  width: 25rem;
}

.content_reponse{
  padding-bottom: 2em;
}

.content_reponse .up{
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.content_reponse p{
  font-size: 1em;
  margin-top: 0;
}

.content_reponse input{
  width: 300px;
  height: 30px;
  margin-bottom: 4px;
  padding: 2px;
  padding-left: 5px;
  border:none;
  background-color: #d4d4d4;
}

.content_reponse input[type="submit"]{
  height: 40px;
  margin-bottom: 4px;
  border: none;
  background-color: #2f516f;
  width: 307px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}



/********PROFIL************/
.content_profil{
  margin: 0 auto;
  margin-top: 2%;
  width: 40%;
  position: relative;
}

.content_datauser{
  width: 54%;
  background-color: #eaeaea;
  margin-right: 5%;
  padding: 1%;
}

.content_datauser img{
  float: left;
  margin-right: 1em;
  width: 8em;
}

.content_datauser p{
  color: #2f516f;
  text-transform: uppercase;
  font-weight: bold;
}

.content_niveau{
  width: 39%;
  float: right;
  background-color: #eaeaea;
  padding: 1%;
}

.content_niveau img{
  float: left;
  width: 110px;
  margin-right: 1em;
}

.content_niveau p{
  vertical-align: middle;
}

.content_niveau p{
  font-size: 1.5em;
}

.content_profil h3, p{
  padding-top: 0;
  color: #2f516f;
}

#form_img_profil{
  margin-top: 1em;
}

#form_img_profil input[type="submit"]{
  height: 29px;
  width: 29px;
  margin-left: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0;
}

#form_img_profil .file label {
  background: #2f516f;
  padding: 8px 9px;
  color: #f7f7f7;
  font-weight: normal;
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 4px;
  float: left;
}

#form_img_profil .file input {
  display: none;
  height: 40px;
}


/********* FOOTER *********/

footer{
  background-color: #2f516f;
  box-shadow:2px 0 10px rgba(0,0,0,.5);
  width: 100%;
  z-index:2;
  height: 105px;
  padding-top: 5px;
  clear: both;
  position:absolute;
  bottom:0;
  left:0;
}

footer section{
  width: 200px;
  margin: 0 auto;
  position: relative;
}

footer .menu_footer{
  margin-left: 40px;
}

footer div a, div p{
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  text-align: center;
}

footer ul{
  display: block;
  margin-left: 40px;
}

footer ul li{
  display: inline-block;
  list-style: none;
}

footer ul li a{
  display: block;
  width: 37px;
  height: 37px;
}

footer ul li .fb{
  background: url('media/footer-facebook.png');
  background-repeat: no-repeat;
}

footer ul li .twitter{
  background: url('media/footer-twitter.png');
  background-repeat: no-repeat;
}

footer ul li .google{
  background: url('media/footer-google.png');
  background-repeat: no-repeat;
}


/******RESPONSIVE******/

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {


}

/* Tabl (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

.menu a{
  margin-left: 0.8rem;
  font: normal 1em Verdana, sans-serif;
  padding-top: 20px;
}

.navuser a{
  margin-right: 0.8rem;
  margin-left: 0;
}

/***CONTENT**/
.center_content{
  margin: 0 auto;
  width: 650px;
  position: relative;
}


/**REPONSE DEFI**/

.reponse ul > li:first-child{
  width: 60px;
}

.reponse ul > li:nth-child(4){
  width: 105px;
}

.reponse li{
  width: 100px;
}

.reponse li > a{
  display: block;
  height: 25px;
  padding-top: 10px;
  background-color: #2f516f;
  width: 60px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.reponse input[type="submit"]{
  height: 35px;
  margin: 4px;
  padding-left: 5px;
  width: 55px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.3em;
  padding: 0;
}

.reponse .go{
  width: 55px;
}
.reponse .question{
  width: 160px;
}

/*******REPONSE SINGLE*********/
.content_quest_type{
  min-height: 216px;
  min-width: 288px;
}

.content_quest_type img{
  width: 18rem;
}

.content_reponse input{
  width: 200px;
}

.content_reponse input[type="submit"]{
  width: 207px;
}

/***SLIDER***/

#nextBtn {
left: 768px;
}

#prevBtn, #slider1prev {
  left: 190px;
}

}

@media only screen and (max-width : 768px) {
.menu a{
  margin-left: 0.7rem;
  font: normal 0.9em Verdana, sans-serif;
  padding-top: 20px;
}

.navuser a{
  margin-right: 0.7rem;
  margin-left: 0;
}

.center_content{
  margin: 0 auto;
  width: 650px;
  position: relative;
}

/***CONTENT**/
.center_content{
  margin: 0 auto;
  width: 650px;
  position: relative;
}


/**REPONSE DEFI**/

.reponse ul > li:first-child{
  width: 60px;
}

.reponse ul > li:nth-child(4){
  width: 105px;
}

.reponse li{
  width: 100px;
}

.reponse li > a{
  display: block;
  height: 25px;
  padding-top: 10px;
  background-color: #2f516f;
  width: 60px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.reponse input[type="submit"]{
  height: 35px;
  margin: 4px;
  padding-left: 5px;
  width: 55px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 1.3em;
  padding: 0;
}

.reponse .go{
  width: 55px;
}
.reponse .question{
  width: 160px;
}

/*******REPONSE SINGLE*********/
.content_quest_type{
  min-height: 216px;
  min-width: 288px;
}

.content_quest_type img{
  width: 18rem;
}

.content_reponse input{
  width: 200px;
}

.content_reponse input[type="submit"]{
  width: 207px;
}
/***SLIDER***/

#nextBtn {
  left: 768px;
}

#prevBtn, #slider1prev {
  left: 190px;
}

}


