body{
  font-family:'Verdana', sans-serif;
  font-size:75%;
  font-weight: normal;
  min-height:100%;
  overflow:none;
  background-image: url('media/bg1.jpg');
  background-repeat: no-repeat;
   background-size: cover;
}

a, a:visited {text-decoration:none;}

header{
	background-color: #fff;
	box-shadow:2px 0 10px rgba(0,0,0,.5);
  position:relative;
  z-index:2;
}

header nav ul li{
	list-style: none;	
}

ul {display:inline-block;list-style:none;padding:0;}

.index{width:15%;display:inline-block;}
ul a{text-transform:uppercase;}
.index li{text-align:center;line-height:1em;}
.index li:after{content:'°';display:block;margin-top:.5em;color:#6E6E6E;opacity:.3;}




header a, header form{display:inline-block;vertical-align:middle;}

input[name="name"]{
  font-family:'Verdana', sans-serif;
  border-radius:.5em;
  padding:.5em 1em;
  color:#666;
  border:1px solid #DCDCDC;
  width:20%;
  margin: 0 auto;
  font-size:1.5em;
}
/*body section:first-child{width:100%;overflow:auto;background-color:#fff;height:auto; margin-top: 5em; padding:5;}
*/

header{
  box-sizing: border-box;
  width: 100%;
  height: 4em;

  /*display: flex;*/
}


#nav-global{
  height: 3rem;
  flex: 1 1 auto;

}

#nav-global a{
  text-decoration: none;
  margin-right: 1.3rem;
  padding: 0.5rem 0 0;
  color: #333;
  font: 1.3rem/1.9rem normal verdana, sans-serif;
}


.menu_content{
  margin: 0 auto;
  width: 90%;
  padding-top: 1.5em;
  position: relative;
}

.menu{
  width: 40%;
  float: left;
  text-align: center;
  height: 3rem;
  flex: 1 1 auto;

}
.logo{
  width: 20%;
  float: left;
  text-align: center;
    height: 6rem;
  flex: 1 1 auto;
  background-image: url('media/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.triangle {
  width: 0;
  height: 0;

  margin: 0 auto;
  position: relative;
}

.triangle:after {
  content: '';
  position: absolute;
  top: 40px;
  left: -100px;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #fff;
  margin: 0 auto;

}

#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  position: relative;

}

#menu aside{
  visibility: visible;
  width: 10rem;
  padding: 0.5rem 1rem 1rem;
  position: absolute;
  top: calc(3rem - 1px);
  border: none;
  right: 0;
}

#menu aside.visible{
  visibility: hidden;
}

#menu em{
  display: block;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
  color: #000;
}

#menu .toggle{
  display: block;
  width: 8rem;
  height: 3rem; 
  text-align:center;
  text-decoration: none;
  color: #000;
  padding-top: 2em;
}


/* region-styling for overflow region */
@-webkit-region #nav-compact{
  #nav-global a{
    color: white;
  }
}


article{
  padding: 1rem 3rem;
  width: 50%;
}

.warning{
  background: #ffc;
  color: black;
  padding: 1em;
  margin: 0 0 0 -1em;
  display: none;
}

.no-flow-into .instructions{
  display: none;
}
.no-flow-into .warning{
  display: block;
}

.error{
  width:30%;margin:0 auto;color:#fff;
  font-family:'Verdana', sans-serif;
  font-size:2em;
  text-align:center;
}


/********** CONTENT ***********/
.main{
  margin-top: 100px;
}

.content_page{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
  clear: both;
  margin: 0 auto;
}

.content_page h2{
  width: 100%;
  color: #fff;
  background-color: #2f516f;
  height: 40px;
  text-align: center;
  font-family:'Verdana', sans-serif;
  padding-top: 15px;
  font-weight: normal;
}

/********** FORM DEFIS ***********/
.content_defi{
  position: relative; 
  width:100%; 
  margin: 0 auto;
}

.content_left{
  width: 40%; 
  height: 500px;
  border-right: 2px dotted #2f516f;
  margin-left: 10%;
  margin-top: 20px;
  background-image: url('media/defi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#form_defi{
  margin: 0 auto;
  width: 40%;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

/*#form_defi label{
  margin: 0 auto;
  width: 90%;
  padding-left: 10px;
  color:#EEEBCD;
  font-weight: bold;
  font-size: 1.2em;
}*/

#form_defi input, select{
  width: 80%;
  height: 40px;
  margin: 4px;
  padding: 2px;
  padding-left: 5px;
  border:none;
  background-color: #d4d4d4;
}

#form_defi input[type="submit"]{
  height: 40px;
  margin: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  width: 81%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}

/********** FORM SIGNIN ***********/

.content_page form p{
  color:#2f516f;
  text-align: center;
  padding:0;
  margin:0;
  font-size: 1.1em;
}

#signin{
  margin: 0 auto;
  width: 25%;
  margin-top: 5%;
}

/* all */
::-webkit-input-placeholder { color:#8c8c8c; font-weight: bold; }
::-moz-placeholder { color:#8c8c8c; font-weight: bold;} /* firefox 19+ */
:-ms-input-placeholder { color:#8c8c8c; font-weight: bold;} /* ie */
input:-moz-placeholder { color:#8c8c8c; font-weight: bold;}

#signin input{
  width: 90%;
  height: 40px;
  margin: 4px;
  padding: 2px;
  padding-left: 5px;
  border:none;
  background-color: #d4d4d4;
}

#signin input[type="submit"]{
  height: 40px;
  margin: 4px;
  border: none;
  background-color: #2f516f;
  padding-left: 5px;
  width: 94%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
}


/**SLIDER**/

/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
        margin:0;
        padding:0;
        display:block;
        overflow:hidden;
        text-indent:-8000px;
        }
/* // image replacement */
#container{ 
  margin:0 auto;
  position:relative;
  text-align:left;
  width:80%;
  margin-top: 100px;
  margin-bottom:2em;
  } 

#content{
  position:relative;
  }     

/* Easy Slider */

#slider ul, #slider li,
#slider2 ul, #slider2 li{
  margin:0;
  padding:0;
  list-style:none;
  }
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
  /* 
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
  */ 
  width:600px;
  height:400px;
  overflow:hidden; 
  } 
#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
  display:block;
  width:30px;
  height:77px;
  position:absolute;
  left:-30px;
  top:71px;
  z-index:1000;
  } 
#nextBtn, #slider1next{ 
  left:800px;
  }                           
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
  display:block;
  position:relative;
  width:30px;
  height:77px;
  background:url('media/btn_prev.png') no-repeat 0 0; 
  } 
#nextBtn a, #slider1next a{ 
  background:url('media/btn_next.png') no-repeat 0 0; 
  } 
  
/* numeric controls */  

ol#controls{
  margin:1em 0;
  padding:0;
  height:28px;  
  }
ol#controls li{
  margin:0 10px 0 0; 
  padding:0;
  float:left;
  list-style:none;
  height:28px;
  line-height:28px;
  }
ol#controls li a{
  float:left;
  height:28px;
  line-height:28px;
  border:1px solid #ccc;
  background:#DAF3F8;
  color:#555;
  padding:0 10px;
  text-decoration:none;
  }
ol#controls li.current a{
  background:#5DC9E1;
  color:#fff;
  }
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
