
<section class="content_page">

	<div id="content">
	
		<div id="slider">
			<ul>				
				<li>
				<section class="center_content apropos">
					<div>
						<img src="public/stylesheet/media/ampoule.png" alt="idee">
						<h1>À PROPOS</h1>
					</div>
					<article>
						<h1>Pourquoi Cortex ?</h1>
					Les internautes, notamment jeunes, passent de plus en plus de temps sur des réseaux sociaux, et sur des services communautaires.Cortex permet de défier ses amis sur des questions de culture générale. Chacun peut créer ses défis personnalisés, un classement se tient à jour en fonction des challenges remportés/perdus.
					</article>

				<div style="clear:both; float:none;"></div>

					<section id="picto_presentation">
						<div>
						<img id="img1" src="public/stylesheet/media/addfriends.png" alt="addfriends">
						<div class="txtinfo"><p>Ajoutez vos <br> amis</p></div>
						</div>
						<div>
						<img id="img2" src="public/stylesheet/media/defisfriends.png" alt="defisfriends">
						<div class="txtinfo"><p>Défiez vos <br>  amis</p></div>
						</div>
						<div>
						<img id="img3" src="public/stylesheet/media/win.png" alt="windefis">
						<div class="txtinfo"><p>Remportez <br> des défis</p></div>
						</div>	
					<div style="clear:both; float:none;"></div>
					</section>
				</section>
				</li>

				<li>
				<section id="classement_content" class="center_content">
					<section class="podium">
					</section>

					<section class="resultats">
						<h1>Classement</h1>

						<table>
							<tr>
								<td>Position</td>
								<td>Pseudo</td>
								<td>Niveau</td>
							</tr>
							<?php
							if(isset($usersClassement)):
							$compteur=0;
							foreach($usersClassement as $user):
							//pour chaque élement de $ users que j'appelle $ user je fais ...
							$compteur++;
							?>
							<tr>
								<td><?php echo $compteur; ?></td>
								<td><?php echo $user['Pseudo'];?></td>
								<td><?php echo $user['Niveau'];?></td>
							</tr>
							<?php
							endforeach;
							endif;
							?>	
						</table>
					</section>
				<div style="clear:both; float:none;"></div>
				</section>
				</li>	
			</ul>
		</div>

	</div>


<div style="clear:both; float:none;"></div>
</section>

