
<section class="wrapper">

	<section class="apropos">
		<div>
			<img src="public/stylesheet/media/ampoule.png" alt="idee">
			<h1>À PROPOS</h1>
		</div>
		<article>
			<h1>Pourquoi Cortex ?</h1>
			Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l'alcôve ovoïde, où les bûches se consument dans l'âtre, ce qui lui permet de penser à la cænogenèse de l'être dont il est question dans la cause ambiguë entendue à Moÿ.
		</article>
	</section>

	<section id="picto_presentation">
		<div>
			<img id="img1" src="public/stylesheet/media/addfriends.png" alt="addfriends">
			<div class="txtinfo"><p>Ajoutez vos <br> amis</p></div>
		</div>
		<div>
			<img id="img2" src="public/stylesheet/media/defisfriends.png" alt="defisfriends">
			<div class="txtinfo"><p>Défiez vos <br>  amis</p></div>
		</div>
		<div>
			<img id="img3" src="public/stylesheet/media/win.png" alt="windefis">
			<div class="txtinfo"><p>Remportez <br> des défis</p></div>
		</div>	
		<div style="clear:both; float:none;"></div>
	</section>	

	<section id="classement_content">
		<section class="podium">
		</section>

		<section class="resultats">
			<h1>Classement</h1>

			<table>
				<tr>
					<td>Position</td>
					<td>Pseudo</td>
					<td>Niveau</td>
				</tr>
			<?php
				if(isset($usersClassement)):
				$compteur=0;
				foreach($usersClassement as $user):
				//pour chaque élement de $ users que j'appelle $ user je fais ...
				$compteur++;
			?>
				<tr>
					<td><?php echo $compteur; ?></td>
					<td><?php echo $user['Pseudo'];?></td>
					<td><?php echo $user['Niveau'];?></td>
				</tr>
			<?php
				endforeach;
				endif;
			?>	
			</table>
		</section>
		<div style="clear:both; float:none;"></div>
	</section>
<div style="clear:both; float:none;"></div>
</section>

