
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: false, 
				continuous: false
			});
		});	
	</script>
<div id="container">
	<div id="content">
	
		<div id="slider">
			<ul>				
				<li><h1>Home</h1></li>
				<li><h1>Classement</h1>
					<?php
						if(isset($usersClassement)):
						$compteur=0;
						foreach($usersClassement as $user):
						//pour chaque élement de $ users que j'appelle $ user je fais ...
						$compteur++;
					?>
						<p><?php echo $compteur; ?><?php echo $user['Pseudo']; ?><?php echo $user['Niveau']?></p>
					<?php
						endforeach;
						endif;
					?>
				</li>
			</ul>
		</div>
			
	</div>
</div>



