

	<h2>Nouveau Défi</h2>

<section class="content_defi">


<form action="defi/envoi" method="post" name="form_defi" id="form_defi" enctype="multipart/form-data">
	
	<input type="text" name="nom_defi" id="nom_defi" placeholder="NOM DE VOTRE DÉFI" required>
	<!--<form action="users/search/" method="post">
	<input id="autoc" type="text" name="a_qui" placeholder="RECHERCHER UN AMI" autocomplete="off" required>	
	<?php //require('users.html');?>
	</form>-->
	<select id="a_qui" name="a_qui" autocomplete="off" required>
	<option value="" disabled selected>SELECTIONNER UN AMI</option>	
		<?php if(isset($lesusers)):?>
			<?php foreach($lesusers as $unuser):?>
			<option value="<?php echo $unuser['id_User'];?>"><?php echo $unuser['Pseudo'];?></option>
		<?php endforeach; ?>
		<?php endif; ?>
	</select>

	<select name="categories">
		<option value="" disabled selected>CATEGORIE</option>	
		<?php if(isset($lescats)):?>
			<?php foreach($lescats as $unecat):?>
			<option value="<?php echo $unecat['id_Cat'];?>"><?php echo $unecat['nom_Cat'];?></option>
		<?php endforeach; ?>
		<?php endif; ?>
	</select>

	<input type="file" name="file" />
	
	<input type="text" name="question" id="question" placeholder="VOTRE QUESTION" required>
	
	<input type="text" name="reponse_voulue" id="reponse_voulue" placeholder="RÉPONSE SOUHAITÉE" required>
	
	<input type="text" name="msg_perso" id="msg_perso" placeholder="MESSAGE PERSONNEL">	
	<input type="submit" name="envoi_defi" id="envoi_defi" value="Envoyez">
</form>

	<section class="content_left">
		<!--<img src="public/stylesheet/media/defi.png" style="margin: 0 auto; display: block;">-->
	</section>
<!--<ul class="index">

    <li><a href="users/cortexiens" data-filter="cortexiens">Cortexiens</a></li>
    <li><a href="users/amis" data-filter="amis">Mes amis</a></li>
</ul>-->
</section>

	



