 
  <nav id="nav-global">
    <ul>
      <a href="#">Home</a>
      <?php if(isset($SESSION['Pseudo'])){ ?>
      <li><a href="defi/">Defis</a></li>
      <li><a href="">Répondre</a></li>
      <?php }?>
    </ul>
  </nav>

  <nav id="menu">
    <ul>
      <?php if(isset($SESSION['Pseudo'])){ ?>
      <li><a href="">Mon profil</a></li>
      <li><a href="signout/">Déconnexion</a></li>
      <?php }else{?>
      <li><a href="signin/" class="toggle">Connexion</a></li>
        <?php }?>
    </ul>
  </nav>
  
