<div class="triangle">

</div>

<div class="content_menu">

  <nav class="navglobal menu">
    <a href="#">Home</a>
    <a href="#">Classement</a>
    <?php if(isset($SESSION['Pseudo'])){ ?>
    <a href="defi/">Defis</a>
    <a href="reponse/">Répondre</a>
    <?php }?>
  </nav>
 
  <div class="logo">
      
  </div>
  
  <nav class="navuser menu">
      <?php if(isset($SESSION['Pseudo'])){ ?>
      <a href="">Hello <?php echo $SESSION['Pseudo']; ?></a>
      <a href="">Mon profil</a>
      <a href="logout/">Déconnexion</a>
      <?php }else{?>
      <a href="login/" class="toggle">Connexion</a>
      <a href="signin/" class="toggle">Inscription</a>
        <?php }?>
  </nav>
</div>





  
