
 <?php
	if(isset($liste_reponse)):
	if($liste_reponse!=null):?>
		<h2>Mes réponses en attente</h2>
		<section class="center_content list_rep">
	<?php foreach($liste_reponse as $reponse):
?>

	<div class="reponse">
		<ul>
			<li><?php echo $reponse['Pseudo']?></li>
			<li><?php echo $reponse['nomDefi']?></li>
			<li class="question"><?php echo $reponse['Question']?></li>
			<li><?php echo $reponse['Message']?></li>
			<?php
				if($reponse['Image']!=NULL):
				 $img=$reponse['Image'] ?>
				<li class="list_rep_img"><img src="<?php echo $img ?>" style="width:8em;"alt="<?php $img ?>"/></li>
				<?php else: ?>
				<li></li>
				<?php endif;?>	
			<li class="go"><form action="reponse/unereponse" method="post" name="form_id_question" id="form_id_question">
			<input type="hidden" name="id_question" id="id_question" value="<?php echo $reponse['id_Question'] ?>">
			<input type="submit" name="ok_idquestion" id="ok_idquestion" value="Go ! ">
			</form>
		</ul>
	</div>
<?php
	endforeach;?>
	</section>
	<?php 
	else: ?>
	<h2>Aucun défi à relever ...</h2>
	<?php endif;endif;

?>



