<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="<?php echo $BASE; ?>/">
  <!-- variable qui lit cortex -->
        <title>Cortex - Profil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/cortex.css" rel="stylesheet" type="text/css" />
        
</head>
<body class="clearfix">
  <header>
    <?php require('partials/header.html'); ?> 
    <span style="clear:both;"></span>
  </header>


  <section class="main">
    <h2>Mon profil</h2>

    <section class="content_profil">
      <?php if(isset($datas_profil)):?>
        <?php foreach($datas_profil as $unedata):?>

          <section class="content_niveau">
            <img src="public/stylesheet/media/cortex.png">
            <h3>Niveau <?php echo $unedata['Niveau'];?></h3>
            <p>40%</p>
          </section>

          <section class="content_datauser">
            <?php if($unedata['img_Profil']!=null):?>
            <img src="<?php echo $unedata['img_Profil'] ?>" style="width:8em;"> 
            <?php endif; ?> 

            <p><?php echo $unedata['Pseudo'];?></p>
            <p><?php echo $unedata['Email'];?></p>
            <div style="clear:both; float:none;"></div>
          </section>

          <div style="clear:both; float:none;"></div> 

          <form action="profil" method="post" name="form_img_profil" id="form_img_profil" enctype="multipart/form-data">
            <input type="file" name="img_profil"/>
            <input type="submit" name="envoi_img_profil" id="envoi_img_profil" value="Changer votre photo">
          </form>
    
        <?php endforeach; ?>
      <?php endif; ?>
      
      <div style="clear:both; float:none;"></div> 

    </section>

  </section>



  <footer>
  <?php require('partials/footer.html'); ?> 
  </footer>     
        <script type="text/javascript" src="public/js/cortex.js"></script>
</body>
</html>