<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="<?php echo $BASE; ?>/">
  <!-- variable qui lit cortex -->
        <title>Cortex - Réponse </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/cortex.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">
  <header>
    <?php require('partials/header.html'); ?> 
  </header>


  <section class="main">
    <h2>Répond à la question</h2>

    <section class="center_content">
    <?php if(isset($single_reponse)):?>
      
      <?php foreach($single_reponse as $une_data):?>
      
      <section class="content_quest_type">
      <?php if($une_data['Image']!=NULL):
        $img=$une_data['Image'] ?>
        <img src="<?php echo $img ?>" alt="<?php $img ?>"/>
      <?php endif;?>  

      <p><?php echo $une_data['nomDefi']?></p>
      </section>

      <section class="content_reponse">
        <p class="up">Il te defie:</p>
        <p><?php echo $une_data['Pseudo']?></p>
        <p class="up">Question: </p>
        <p><?php echo $une_data['Question']?><p>
        <p class="up">Message: </p> 
        <p><?php echo $une_data['Message']?></p>

        <?php $monid=$une_data['id_Question']; ?>
        <p class="up">Réponse: </p> 
        <form action="reponse/unereponse" method="post" name="form_reponse" id="form_reponse">
          <input type="text" name="nomreponse" id="nomreponse" placeholder="VOTRE REPONSE" required>
          <input type="hidden" name="id_question" id="id_question" value="<?php echo $monid; ?>">
          <input type="submit" name="ok_reponse" id="ok_reponse" value="Valider"> 
        </form>  
        <div style="clear:both; float:none;"></div> 
      </section>
      <?php endforeach; ?>

      <?php endif;?>
  </section>
</section>


<div style="clear:both; float:none;"></div> 

  <footer>
  <?php require('partials/footer.html'); ?> 
  </footer>  
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="public/js/cortex.js"></script>
</body>
</html>