<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="<?php echo $BASE; ?>/">
  <!-- variable qui lit cortex -->
        <title>Cortex - Réponse </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/cortex.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">
  <header>
    <?php require('partials/header.html'); ?> 
  </header>
<section>
  <section>
    Répond à la question !
  </section>
  <section>
    <?php 
      if(isset($single_reponse)):?>
      <ul>
      <?php
      foreach($single_reponse as $une_data):
       ?>
     <li><?php echo $une_data['id_Question']?></li>
      <li><?php echo $une_data['Pseudo']?></li>
      <li><?php echo $une_data['nomDefi']?></li>
      <?php
        if($une_data['Image']!=NULL):
         $img=$une_data['Image'] ?>
        <li><img src="<?php echo $img ?>" style="width:20em;"alt="<?php $img ?>"/></li>
        <?php endif;?>  
      <li><?php echo $une_data['Question']?></li>
      <li><?php echo $une_data['Message']?></li>
      <?php
      $monid=$une_data['id_Question'];
      endforeach; ?>
      </ul>
      <form action="reponse/unereponse" method="post" name="form_reponse" id="form_reponse">
      <input type="text" name="nomreponse" id="nomreponse" placeholder="VOTRE REPONSE" required>
      <input type="hidden" name="id_question" id="id_question" value="<?php echo $monid; ?>">
      <input type="submit" name="ok_reponse" id="ok_reponse" value="Valider"> 
      </form>  
      <?php endif;
  ?>
  </section>
</section>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="public/js/cortex.js"></script>
</body>
</html>